body {
    background-color: #000000;
    color: #ffffff;
}
html {
    border-width: 10px;
    border-color: #ffea00;
    border-style: solid;
}
.video {
    border-width: 10px;
    border-color: #ffea00;
    border-style: solid;
}
img {
    max-width: 100%;
    height: 300px;
}