<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Client</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery.js"></script>
    <script src="/client.js"></script>
</head>
<body>
    <h1>Video Reciever</h1>
    <img src="/nan.svg" class="video" />
    <h2 style="color:#ffea00;">Status</h2>
    <p style="color:#ffea00;">INITIALISING - OR ERROR</p>
</body>
</html>