<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Sender</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/server.js" defer></script>
</head>
<body>
    <h1>Video Transfer Capture</h1>
    <video autoplay id="videos" class="video"></video>
    <h2 style="color:#ffea00;">Status</h2>
    <p style="color:#ffea00;" class="msg">INITIALISING - OR ERROR</p>
    <p class="usr" style="color:#ffea00;"></p>
    <p><a href="/">Back to Main Page</a></p>
</body>
</html>